<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-map-marked-alt fa-4x mr-4"></i>
        <hr />
        <h3>Location</h3>
        <p>Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-phone-square fa-4x mr-4"></i>
        <hr />
        <h3>Contact Us</h3>
        <ul class="list-unstyled">
          <li>Phone: (089) 392 319</li>
          <li>Email: madambedding@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <i class="fas fa-globe fa-4x mr-4"></i>
        <hr />
        <h3>Follow Us</h3>
        <div class="social">
          <a href="#" class="text-white">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="#" class="text-white">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="#" class="text-white">
            <i class="fab fa-line fa-2x"></i>
          </a>
          <a href="#" class="text-white">
            <i class="fab fa-telegram fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
